@using vegetable.Models.ViewModels;
@model IEnumerable<vegetable.Models.ViewModels.ProducetDetil>

@{
    ViewBag.Title = "Form";
    var data = new ProducetDetil();
}




    
    <div class="container" style="padding-top:50px">
        <div class="col-md-12 shadow p-3 mb-5 bg-white rounded" >
            <div class="col-md-12" style="padding-top:50px; padding-bottom:20px"><h3>產品資料</h3></div>
       
            <a class='btn btn-success text-white' onclick='Create();'>新增</a>
            <table id="datatable" class="table table-striped table-bordered table-hover">
                <thead class="">
                    <tr>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>


@Html.Partial("_CreatePartialView", data)
@section Endscripts
{
    <script>
       
        $.ajax({
            type: "POST",
            url: "/Product/Getinitdata",
          
            dataType: "json",
            success: function (response) {
                var data = JSON.parse(response);
                console.log(data.models);
                $("#datatable").DataTable({
                    data: data.models,
                    columns: [{ data: "ProductName", title: "產品名稱" }, { data: "CategoryName", title: "種類名稱" }, { data: "ProductDescription", title: "產品描述" }, { data: "UnitsInStock", title: "庫存" }, { data: "CategoryDescription", title: "類別描述" }, { data: "ProductPrice", title:"產品價格" },{
                            //這裡的data變數值為sysid，相等於row.sysid
                        data: "sysid",//資料行繫結屬性
                        title:"操作",
                            orderable: false, // 禁用排序
                        render: function (data, type, row, meta) {
                       
                            //row指的是資料列物件 data變數相等於row.sysid
                            return  "<a class='btn btn-info' href='" + "@Url.Action("Edit","Backstage")" + "?id=" + row.ProductID + "' >Edit</a> "
                                    + "<a class='btn btn-secondary' href='" +"@Url.Action("Delete","Backstage")"+"?id=" + row.ProductID + "' >Detele</a> ";

                            }
                        }]

                });
            }
        });

        var Create=function(){
            $('#exampleModal').modal('show');
        }
        
        $("#fileupload").change(function (e) {
            let form = new FormData();
            form.append("userfile", e.target.files[0]);

           $.ajax({
               type: "POST",
               processData: false,
                url: "/Backstage/UploadFile",
                data: form,
                contentType: false,
                success: function (response) {

                }
            });
           var fp = $("#fileupload").val().split("\\");
            var name = fp[fp.length - 1];
            $("#PicUrl").val(name);

        });
        $("#fileupload2").change(function (e) {
             let form = new FormData();
            form.append("userfile", e.target.files[0]);

           $.ajax({
               type: "POST",
               processData: false,
                url: "/Backstage/UploadFile",
                data: form,
                contentType: false,
                success: function (response) {

                }
            });
             var fp = $("#fileupload2").val().split("\\");
            var name = fp[fp.length - 1];
            $("#CategoryPic").val(name);

        });
        $("#selectitem").change(function (e) {
            console.log(e);
            
        if (e.target.options[e.target.selectedIndex].outerText== "新增類別") {
            window.open(e.target.options[e.target.selectedIndex].value,true);
        }
        })
    </script>
}
