@model IEnumerable<vegetable.Models.Category>

@{
    ViewBag.Title = "分類管理";
}

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div class="content-title mx-auto" style="width:75vw !important">
    <h2>分類管理</h2>
</div>
<div class="custom-tree-container" id="app">
    <div class="block">
        <el-tree :data="catrgoriesdata"
                 node-key="id"
                 empty-text="暫無數據"
                 :expand-on-click-node="false">
            <span class="custom-tree-node" slot-scope="{ node, data }">
                <span>{{ node.label }}</span>
                <span>
                    <el-row>
                        <el-button type="success"
                                   size="mini"
                                   icon="el-icon-document-add"
                                   @@click="() => openappendform(data)">
                            新增
                        </el-button>
                        <el-button type="warning"
                                   size="mini"
                                   icon="el-icon-edit"
                                   @@click="() =>openeditform(node,data)">
                            修改
                        </el-button>
                        <el-button type="danger"
                                   size="mini"
                                   icon="el-icon-delete"
                                   @@click="() => remove(node, data)">
                            刪除
                        </el-button>
                    </el-row>

                </span>
            </span>
        </el-tree>
    </div>
    <el-dialog title="提示"
               :visible.sync="dialogVisible"
               width="30%">
        <el-form :label-position="labelPosition" ref="form" :model="form" label-width="150px">
            <el-form-item label="CategoryName">
                <el-input v-model="form.CategoryName" placeholder="請輸入產品種類名稱"></el-input>
            </el-form-item>
            <el-form-item label="CategoryDescription">
                <el-input v-model="form.CategoryDescription" placeholder="請輸入產品描述"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="dialogVisible = false">取消</el-button>
            <el-button v-if="mode=='append'" type="primary" @@click="() => append()">確定</el-button>
            <el-button v-if="mode=='edit'" type="primary" @@click="() => edit()">確定</el-button>
        </span>
    </el-dialog>
</div>
<style>
    .custom-tree-node {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        padding-right: 8px;
    }
</style>
@section Endscripts{
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                currentdata: null,
                currentnode: null,
                catrgoriesdata: [],
                dialogVisible: false,
                mode: '',
                labelPosition: 'left',
                form: {
                    CategoryName: '',
                    CategoryDescription: ''
                }
            },
            mounted: function () {
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/api/CategoriesApi",
                    "method": "GET",
                }
                $.ajax(settings).done(function (response) {
                    console.log(response);
                    vm.catrgoriesdata = response;
                });
            },
            methods: {
                openappendform(inputdata) {
                    this.dialogVisible = true;
                    this.currentdata = inputdata;
                    vm.form.CategoryName = '';
                    vm.form.CategoryDescription = '';
                    vm.mode = 'append';
                },
                append() {

                    let item = {
                        "CategoryName": this.form.CategoryName,
                        "ParentID": this.currentdata.id,
                        "CategoryDescription": this.form.CategoryDescription
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/api/CategoriesApi',
                        data: item,
                        dataType: 'json',
                        success: function (response) {

                            vm.$message({
                                type: 'success',
                                message: '新增成功!'
                            });
                            vm.dialogVisible = false;
                            vm.form.CategoryName = '';
                            vm.form.CategoryDescription = '';
                            if (!vm.currentdata.children) {
                                this.$set(vm.currentdata, 'children', []);
                            }
                            let newData = {
                                label: item.CategoryName,
                                listitemdescription: item.CategoryDescription,
                                id: response.CategoryID
                            }
                            vm.currentdata.children.push(newData);
                            vm.currentdata = null;
                        }
                    });
                },
                remove(node, data) {
                    debugger
                    this.$confirm('此操作將刪除該商品種類，是否繼續？', '提示', {
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                        type: 'warning',
                        center: true
                    }).then(() => {
                        const parent = node.parent;
                        const children = parent.data.children || parent.data;
                        const index = children.findIndex(d => d.id === data.id);
                        children.splice(index, 1);
                        $.ajax({
                            type: 'DELETE',
                            url: `/api/CategoriesApi/${data.id}`,
                            data: data,
                            dataType: 'json',
                            success: function (response) {
                                vm.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            }
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'error',
                            message: '已取消删除'
                        });
                    });
                },
                openeditform(node, data) {
                    this.currentnode = node;
                    this.dialogVisible = true;
                    this.currentdata = data;
                    vm.form.CategoryName = data.label;
                    vm.form.CategoryDescription = data.listitemdescription;
                    vm.mode = 'edit';
                },
                edit() {
                    this.$confirm('此操作將修改該商品種類，是否繼續？', '提示', {
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                        type: 'warning',
                        center: true
                    }).then(() => {
                        let item = {
                            "CategoryName": this.form.CategoryName,
                            "CategoryID": this.currentdata.id,
                            "CategoryDescription": this.form.CategoryDescription,
                            "ParentID": this.currentnode.parent.key
                        }
                        $.ajax({
                            type: 'PUT',
                            url: `/api/CategoriesApi/${this.currentdata.id}`,
                            data: item,
                            dataType: 'json',
                            success: function (response) {
                                vm.dialogVisible = false;
                                vm.currentdata.label = vm.form.CategoryName;
                                vm.currentdata.listitemdescription = vm.form.CategoryDescription;
                                vm.$message({
                                    type: 'success',
                                    message: '修改成功!'
                                });
                            }
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'error',
                            message: '已取消修改'
                        });
                    });
                }
            }
        });
    </script>
}
