<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>fdDUyMxNkm0klRw4cTAgt2WpDDm6/WNMPIX8q2FnOftvszO+HPv0P6UF8RKuHkyT1hFnvnRv7Z8AVsxwR0rfTmDaZ1sj3nGT/xWv2RfwCUn2xWEYVI24xeq9z5rdW/5Q9G91TMB9Ms14B9n0JhGuuJqy1TEOobu2mx4SYsuXDhducgvXVTSw+A3ZbB030x7NN+nRZI1Vn4eQhVtcu4boD2pk7zvR78WoMqKkuPGrSK5gOQSD3+EE2onVJf/uJ873Gzyc9i8S1q/KMaYVzWEYy8JU0hrW1Lq/HPh4LcxG7RnrEGtPZgUm8mISsHXjrLa8n7EGzIkX4meFxsTwWxnlEw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>hmhvuPMPjtEZdBe14vTG+UxPrEU7rS5rTDPP2Zy1ZqJoXomTDuFOguMHgiV4zG/6</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>