<style>
    .header {
        background-color:indianred;
    }

    #sidebar {
        background-color:#fff;
        font-weight:700;
    }

    ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
        background-color: indianred;
        color: #fff;
    }

    ul.sidebar-menu li a {
        color: crimson;
    }

    ul.sidebar-menu li ul.sub li a {
        color: crimson;
    }

    ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li a:active {
        color: crimson;
        font-weight:700;
    }

    ul.sidebar-menu li ul.sub li {
        background: #ffe4e1;
    }

    .nicescroll-rails {
        background-color: antiquewhite !important;
    }

    .nicescroll-rails div {
        background-color: indianred !important;
    }

    ul.top-menu > li > .logout {
        color: crimson;
        font-weight:700;
        font-size: 15px;
        border: 2px solid #fff !important;
        background: mistyrose;
    }

    ul.top-menu > li > .logout:hover {
        color: #fff !important;
        font-weight:700;
        font-size: 15px;
        border: 2px solid #fff !important;
        background: none;
    }

    .logo {
        color:#fffafa !important;
        font-weight:700;
    }

    .admin-name {
        color: #008b8b !important;
    }

    .center {
        margin-top:20px;
    }

</style>
<header class="header text-white">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>Lovoda</b></a>
    <!--logo end-->

    <div class="navbar-nav top-menu">
        <ul class="ml-auto my-lg-0 top-menu">
            <li class="center"><a class="logout" href="/">Logout</a></li>
        </ul>
    </div>
</header>
<aside>
    <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none; margin-left: 0px;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion" style="display: block;">
            <li class="sub-menu">
                <a id="member-toggle" href="/AdminMember" class="dcjq-parent">
                    <i class="fas fa-user"></i>
                    <span>會員管理</span>
                </a>
            </li>
            <li class="sub-menu">
                <a id="order-toggle" href="/AdminOrder" class="dcjq-parent">
                    <i class="fas fa-book"></i>
                    <span>訂單管理</span>
                </a>
            </li>
            @*<li class="sub-menu dcjq-parent-li">
                <a id="qa-toggle" href="/AdminQ&A" class="dcjq-parent">
                    <i class="fas fa-comments"></i>
                    <span>Q&A管理</span>
                </a>
                <ul class="sub" style="display: none;">
                    <li><a href="/Q&A">Blank Page</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="lock_screen.html">Lock Screen</a></li>
                </ul>
            </li>*@
            @*<li class="sub-menu dcjq-parent-li">
                <a id="com-toggle" href="/AdminCommend" class="dcjq-parent">
                    <i class="fas fa-star"></i>
                    <span>評價管理</span>
                </a>
            </li>*@
            <li class="sub-menu dcjq-parent-li">
                <a id="prod-toggle" href="/AdminProduct" class="dcjq-parent">
                    <i class="fab fa-sketch"></i>
                    <span>產品管理</span>
                </a>
            </li>
            <li class="sub-menu dcjq-parent-li">
                <a id="cat-toggle" href="/AdminCategory" class="dcjq-parent">
                    <i class="fas fa-tags"></i>
                    <span>類別管理</span>
                </a>
            </li>
            @*<li class="sub-menu dcjq-parent-li">
                <a id="ad-toggle" href="/AdminAD" class="dcjq-parent">
                    <i class="far fa-calendar-alt"></i>
                    <span>廣告活動管理</span>
                </a>
                <ul class="sub" style="display: none;">
                    <li><a href="basic_table.html">活動行事曆</a></li>
                </ul>
            </li>*@
            <li class="sub-menu dcjq-parent-li">
                <a id="chart-toggle" href="/AdminChart" class="dcjq-parent">
                    <i class="fas fa-chart-line"></i>
                    <span>績效管理</span>
                </a>
                @*<ul class="sub" style="display: none;">
                    <li><a href="morris.html">Morris</a></li>
                    <li><a href="chartjs.html">Chartjs</a></li>
                    <li><a href="flot_chart.html">Flot Charts</a></li>
                    <li><a href="xchart.html">xChart</a></li>
                </ul>*@
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<script>
    $(function () {
        //$('.dcjq-parent').click(function (e) {
        //    e.preventDefault();
        //    $('.sub').attr("style","display:none;");
        //    $(this).siblings('.sub').attr("style", "display:block;");
        //});
    })
    
</script>