@model  IEnumerable<vegetable.Models.ViewModels.OrderDetailViewModel>

    @{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
    var orderID = Model.ToList().FirstOrDefault(x => x.OrderID > 0).OrderID;
    }

    <style>
        .border-bottom-black {
            border-bottom: solid 2px black;
            height: 68px;
        }

        .order-summary {
            background-color: black;
        }

        .text-grey {
            color: lightslategrey;
            font-size: 14px;
        }

        .text-total {
            font-size: 20px;
        }

        .min-cart-card {
            width: 90px;
            height: 130px;
        }

        .btn-confirm,
        .btn-confirm:hover {
            border-color: #000 !important;
            background: #000 !important;
        }
    </style>
    <div class="container my-5">
        <div class="row">
            @* 左邊 *@
            @*選擇付款方式*@
            <div class="col-6" id="Payment">
                <div class="col-12 p-0 border-bottom-black">
                    <h3 class="d-inline mx-3 ">Choose payment method</h3>
                </div>
                @*line pay*@
                <div class="col-12 mt-3">
                    <input id="LinePay" type="radio" name="line-pay" value="line-pay" checked />
                    <img class="ml-2" style="width:100px" src="~/Assets/Image/LINE-Pay.png" />
                </div>
                <div class="col-12 mt-3">
                    <button id="Pay" class="btn btn-confirm rounded-0 text-white mw-100 w-100">PAY </button>
                </div>
            </div>
            @*付款完成後填寫收件人資料*@
            <div class="col-6" id="RecieverInfo">
                @* 收件者 *@
                <div class="col-12 p-0 border-bottom-black">
                    <h2 class="d-inline mx-3 ">1</h2><h2 class="d-inline">Receiver</h2>
                </div>
                <div class="col-12 mt-3">
                    <input id="Receiver" class="w-100 " type="text" name="Receiver" value="" required="required" />
                </div>
                @* 地址 *@
                <div class="col-12 p-0 border-bottom-black mt-5">
                    <h2 class="d-inline mx-3">2</h2><h2 class="d-inline">Address</h2>
                </div>
                <div class="col-12 mt-3">
                    <input id="Address" class="w-100 " type="text" name="Address" value="" required="required" />
                </div>
                @* 電話 *@
                <div class="col-12 p-0 border-bottom-black mt-5">
                    <h2 class="d-inline mx-3">3</h2><h2 class="d-inline">Phone</h2>
                </div>
                <div class="col-12 mt-3">
                    <input id="Phone" class="w-100 " type="text" name="Phone" value="" required="required" />
                </div>

                @* 確認 *@
                <div class="col-12">
                    <button id="Checkout" class="btn btn-confirm rounded-0 text-white mw-100 w-100">CONFIRM </button>
                </div>
            </div>
            @* 右邊 購買商品 *@
            <div class="col-6 border p-0">
                <div class="col-12 order-summary text-white p-3">
                    <div class="row px-4">
                        <h4 class="">Order Summary</h4>
                        <a href="@Url.Action(" Cart", "FrontEnd" )"
                           class="ml-auto my-auto text-decoration-none text-white">EDIT CART</a>
                    </div>
                </div>
                @* min cart card *@
                <div class="col-12">
                    @* 總數量 *@
                    <div class="col-12 p-0 my-4">
                        <span class="cartItems">2</span><span> items</span>
                    </div>
                    @* partial *@
                    @foreach (var cart in Model)
                    {
                    @Html.Partial("_MinCartPartial", cart);
                    }
                </div>
                @* 運費 稅金 *@
                <div class="col-12">
                    <div class="row">
                        @* 小計 *@
                        <div class="col-6 text-grey my-2">Subtotal</div>
                        <div class="col-6 text-right my-2" id="Subtotal">$123.00</div>
                        @* 運費 *@
                        <div class="col-6 text-grey my-2">Shipping</div>
                        <div class="col-6 text-right my-2">--</div>
                        @* 稅金 *@
                        <div class="col-6 text-grey my-2">Tax</div>
                        <div class="col-6 text-right my-2">$0.00</div>
                    </div>
                </div>
                @* Total金額 *@
                <div class="col-12 border-top">
                    <div class="row text-total  my-3">
                        <div class="col-6">Total(USD)</div>
                        <div class="col-6 text-right" id="GrandTotal">$123.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section viewJquery{
    @*格式化日期js*@
    <script src="~/Scripts/xdate.js"></script>
    <script>
        var url = location.href;
        var memberId = 0;
        $( function () {
            GetMembetId();
            GetSubTotal();
            
            $( '#Checkout' ).click( Checkout );
            $( '#Pay' ).click( Payment );
        } );

        //切換付款選項或收件人資訊
        function SwitchPayAndRecirve( url ) {
            let pay = CheckUrl( url );
            if ( pay ) {
                $( '#RecieverInfo' ).show();
                $( '#Payment' ).hide();
                LinePayDoubleCheck();
            } else {
                $( '#RecieverInfo' ).hide();
            }
        }

        //確認Url是否因為linepay付款後變化
        function CheckUrl(url) {
            if ( url.indexOf( "transactionId" ) != -1 ) {
                return true
            }
            else {
                return false
            }
        }

        function GetSubTotal() {
            let sum = 0;
            //取出購物車中每項商品的數量
            let quantity = [];
            $( '.quantity' ).each( function ( index, element ) {
                let q = $( element ).text();
                quantity.push( q );
            } );
            //把所有subTotal 價格收集起來
            $( '.unitTotal' ).each( function ( index ) {
                //this == .unitTotal中目前正在處理的單一項
                let unitToal = $( this ).text();

                sum += parseInt( RemoveDollarSign( unitToal ) ) * quantity[index];
            } );
            GetGrandTotal( sum );
            $( '#Subtotal' ).text( Output( sum ) );
        }

        //計算最終金額
        function GetGrandTotal( sum ) {
            //補上運費稅金計算????
            let grandTotal = sum;
            $( '#GrandTotal' ).text( Output( grandTotal ) );
        }

        //替換所有價格的$ sign
        function RemoveDollarSign( str ) {
            result = str.replace( '$', '' );
            return result;
        }

        //加上$ sign和小數點
        function Output( money ) {
            return '$' + money + '.00'
        }

        //刪除Cart
        function DeleteCart() {
            let cartId = $( this ).attr( 'id' );
            $.ajax( {
                type: "POST",
                url: "/Frontend/DeleteCart ",
                data: { cartId: cartId },
                dataType: "text",
                success: function () {
                    RefreshCart();
                }
            } );
        }

        //結帳
        function Checkout() {
            let orderID = @orderID;
            let receiver = $( '#Receiver' ).val();
            let address = $( '#Address' ).val();
            let phone = $( '#Phone' ).val();
            let arr = ['#Receiver', '#Address', '#Phone'];
            let can = false;
            for ( var i = 0; i < arr.length; i++ ) {
                can = CheckEmpty( arr[i] );
            }

            if ( can ) {
                $.ajax( {
                    type: "POST",
                    url: "/FrontEnd/AddCheckout",
                    data: {
                        OrderID: orderID, DeliverName: receiver,
                        DeliverAddress: address, DeliverPhone: phone,
                        //引用XDate 格式方法
                        OrderDate: new XDate().toString( "i" )
                    },
                    dataType: "text",
                    success: function ( response ) {
                        alert( '成功下訂' )
                        window.location.href = "Order"
                    }
                } );
            }
        }

        //進入付款程序
        function Payment() {
            let linePay = $( '#LinePay' ).val();
            let payMethod = [linePay];
            let actionName = CheckPayMethod( payMethod );
            $.ajax( {
                type: "post",
                data: { memberId: memberId },
                dataType: "text",
                url: `/frontend/${actionName}`,
                success: function ( respond ) {
                        ////將傳回的JSON資料轉成array
                        var json = JSON.parse( JSON.parse( respond ) );
                        console.log( json );
                        var url = json.info.paymentUrl.web;
                        window.location.href = url;
                },
                error: function ( jqXHR, textStatus, errorThrown ) {
                    if ( jqXHR.readyState == 0 ) {
                        console.log( 'Error: ' + textStatus + ' ' + errorThrown.message );
                    }
                }
            })
        }

        //確認付款方式
        function CheckPayMethod( payMethod ) {
            for ( var i = 0; i < payMethod.length; i++ ) {
                if ( payMethod[i] == "line-pay" ) {
                    return "getLine"
                }
            }
        }
        
        function GetMembetId() {
            $.ajax( {
                type: "get",
                url: "/Frontend/GetMemberId",
                dataType: "text",
                success: function ( response ) {
                    memberId = parseInt( response );
                    SwitchPayAndRecirve( url );
                }
            } );
        }


        //linepay 付款後確認
        function LinePayDoubleCheck() {
            let url = window.location.href;
            let index = url.indexOf( 'transactionId=' )
            let transactionId = url.slice( index ).replace( "transactionId=", "" )
            console.log('md is', memberId)
            $.ajax( {
                type: "post",
                url: "/FrontEnd/checkPay",
                data: {
                    transactionId : transactionId,
                    memberId : memberId
                },
                dataType: "text",
                success: function ( response ) {
                }
            } );
        }

        //檢查收件人資訊是否空白
        function CheckEmpty( item ) {
            let can = true;
            let empty = $( item ).val() == "";
            if ( empty ) {
                can = false;
                $( item ).attr( "placeholder", "Cannot be empty." );
            }
            return can;
        }

    </script>
    }
