
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<style>
    .jumbColor {
        background: #fff8ee;
    }

    .font {
        font-weight: 900;
    }

    .btn-outline-dark {
        color: #343a40;
        border-color: #343a40;
        border: 3px solid;
        background: white;
    }

    .img-row {
        padding: 0 15%;
    }

    .toolbar {
        max-height: 100%;
        position: relative;
        margin-bottom: 0;
        overflow: hidden;
    }
    .current {
         max-height: 100%;
         overflow: hidden;
    }

    .currentImg:hover {
        opacity: .4;
    }
    .zoomin {
        margin-bottom: 0;
    }

    .zoomin:hover {
            transform: scale(1.1);
            transition: all 0.5s linear;
    }

    /*左右箭頭輪播效果*/

    #carouselExampleControls .arrow-right-top,
    #carouselExampleControls .arrow-left-top {
        width: 1%;
        font-size: 36px;
        opacity: 0;
        color: black;
    }

    #carouselExampleInterval .arrow-right,
    #carouselExampleInterval .arrow-left {
        width: 1%;
        font-size: 36px;
        opacity: 0;
        color: black;
    }

    .arrow-right-top {
        margin-right: 8%;
    }

    .arrow-left-top {
        margin-left: 8%;
    }

    .arrow-right {
        margin-right: -5%;
    }

    .arrow-left {
        margin-left: -5%;
    }

    #carouselExampleControls:hover .arrow-right-top,
    #carouselExampleControls:hover .arrow-left-top {
        transition: 2s;
        opacity: 1;
    }

    #carouselExampleInterval:hover .arrow-right,
    #carouselExampleInterval:hover .arrow-left {
        transition: 2s;
        opacity: 1;
    }

    /*下方toolbar效果*/

       .toolbar-img {
            margin-bottom: 0;
        }

        .toolbar .overlay {
            transform: scale(1.1);
        }

        .toolbar .info {
            opacity: 0;
        }

        .toolbar:hover .overlay {
            position: absolute;
            background-color: rgba(0,0,0,.4);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scale(1);
            transition: all 0.4s ease-in-out;
            overflow: hidden;
        }

        .toolbar:hover .info {
            opacity: 1;
            position: absolute;
            top: 4%;
            bottom: 4%;
            left: 4%;
            right: 4%;
            border: 1px solid white;
        }

        .info a {
            border-radius: 50%;
            background-color: white;
            height: 3em;
            width: 3em;
            line-height: 3em;
            font-size: .8rem;
            color: #312f2e;
        }

        .info a:hover{
            background:#312f2e;
            color:white;
        }
    
</style>
<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide img-row" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center ">
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-1.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-2.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-3.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-4.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-5.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-6.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-7.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>
                    <div class="col-6 col-md-3">
                        <figure class="mx-0">
                            <img src="~/Content/images/1-8.jpg" class="figure-img img-fluid currentImg">
                        </figure>
                    </div>

                </div>
            </div>
        </div>
        <span class="carousel-control-prev arrow-left-top" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
        </span>
        <span class="carousel-control-next arrow-right-top" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center img-row">
        <div class="col-12 col-md-6">
            <figure class="mx-0 current">
                <img src="~/Content/images/2-1.jpg" class="figure-img img-fluid w-100 zoomin currentImg">
            </figure>
        </div>
        <div class="col-12 col-md-6">
            <figure class="mx-0 current">
                <img src="~/Content/images/2-2.jpg" class="figure-img img-fluid w-100 zoomin currentImg">
            </figure>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-xs-10 mb-3 mx-4">
            <a href="#"><img src="~/Content/images/3-1.jpg" alt="Alternate Text" class="figure-img img-fluid" /></a>
        </div>
    </div>
</div>
<div class="container-fluid jumbColor mt-3 img-row">
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center mt-5">
            <h2 class="footertext"><i class="fab fa-instagram mr-2 font"></i>#LOVODA</h2>
            <P>ON INSTAGRAM</P>
            <P>Tag us on Instagram or use our hashtag</P>
            <P>to show us how you style Lovoda!</P>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div id="carouselExampleInterval" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-1.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-2.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-4.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-5.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-6.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-7.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-8.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="col-6 col-md-3">
                            <figure class="figure toolbar">
                                <img src="~/Content/images/4-9.jpg" class="figure-img img-fluid toolbar-img">
                                <div class="overlay">
                                    <div class="info text-center d-flex align-items-center justify-content-center">
                                        <a href="#" class="mr-2">
                                            <i class="fa fa-images fa-fw"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-link fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
            <span class="carousel-control-prev arrow-left" href="#carouselExampleInterval" role="button" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
                <span class="sr-only">Previous</span>
            </span>
            <span class="carousel-control-next arrow-right" href="#carouselExampleInterval" role="button" data-slide="next">
                <i class="fas fa-chevron-right"></i>
                <span class="sr-only">Next</span>
            </span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 col-12 mb-5 col-lg-3">
            <button type="button" class="btn btn-outline-dark rounded-0 btn-block font my-5">VIEW GALLERY</button>
        </div>
    </div>

</div>



