
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<style>
    nav.navBar--sub ul.navBar-section li.navBar-item.is-active a {
        background: #fff;
        position: relative;
        text-decoration: none !important;
    }

    nav.navBar--sub ul.navBar-section li.navBar-item a {
        font-size: 13px;
        font-weight: 700;
        display: block;
        display: table-cell;
        padding: 8px 30px 3px;
        transition: background .3s ease 0s;
        vertical-align: middle;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #e5e5e5;
        background: #f7f8f9;
        text-decoration: none !important;
    }

    .navBar-section {
        list-style-type: none;
    }


    .btn.btn-checkout, .btn.btn-checkout:hover {
        border-color: #000;
        background: #000;
    }

    .btn.btn-checkout {
        max-width: 270px;
        padding-top: 10px;
        color: #fff;
    }

    .form-input, .form-select {
        border-style: solid;
        border-width: 1px;
        font-family: inherit;
        margin: 0;
        font-size: 1rem;
        width: 100%;
        height: 42px;
        padding: 0px;
        transition: border-color .1s ease-out;
        background-color: #fff;
        border-color: #dcdcdc;
        color: #454545;
        max-width: none;
    }

    .row {
        margin-top: 25px;
    }


    a,
    a:hover,
    img,
    img:hover {
        text-decoration: none
    }

        a:active,
        a:focus,
        img:active,
        img:focus {
            text-decoration: none
        }

    ul {
        list-style: none;
        margin: 0;
    }

    a:hover {
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    .show-all {
        margin: 0;
        padding: 0;
    }

    /* ---------------------- */
    #container_page_nav {
        background-color: #f7f8f9;
        padding: 20px 0 15px 15px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .breadcrumb {
        background-color: #f7f8f9;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        display: inline-block;
        padding-right: 10px;
    }

        .breadcrumb-item::before {
            content: ">" !important;
            color: #b4b4b4 !important;
            margin: 0 12px 0 3px;
        }

        .breadcrumb-item:first-child::before {
            display: none;
        }

        .breadcrumb-item a {
            color: #b4b4b4;
        }

            .breadcrumb-item a:hover {
                color: #000;
                border-bottom: 1px solid #000;
            }

        .breadcrumb-item.active a:hover {
            color: #b4b4b4;
        }

    .page-heading {
        display: inline-block;
        padding: 2px 15px 20px;
        margin-bottom: 3px;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        text-transform: capitalize;
    }
</style>


<body>
   <div class="show-all">
        <div class="container_page">
            <div id="container_page_nav">
                <div class="container">
                    <!-- 要塞目錄資料及連結資料   開頭-->
                    <!-- 動態綁定有a標籤href及text屬性 -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "FrontEnd")">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Login">Login</a>
                        </li>
                    </ul>
                    <!-- 要塞目錄資料及連結資料   結尾-->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h1 class="page-heading">Login</h1>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label>EmailAddress</label>
                        <input id="loginId" class="form-input" type="email" name="MemberEmail">
                    </div>
                    <div class="col-6">

                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Password</label>
                        <input id="loginPsw" class="form-input" type="password" name="MemberPassword">
                    </div>
                    <div class="col-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input class="btn btn-outline-dark w-25 rounded-0" value="Login" id="Login">
                        <a href="/Login/ForgotPassword" style="margin:0 0 0 36px;color:black;">Forgot your password?</a>
                        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.email&https://localhost:44394&redirect_uri=https://localhost:44394/FrontEnd/Login&response_type=code&client_id=145015126077-5afcqbo9rc629k3ilceajnbfrlrdamlj.apps.googleusercontent.com&approval_prompt=force" id="google" class="btn btn-success">google 登入</a>
                    </div>
                </div>
                <div class="row">
                    <label class="mt-1 pt-0" for="pswproblem"><b>Forget your Password?</b></label><br />
                    <label class="mt-1 pt-0" for="pswproblem" id="loginStatus" style="color:red"></label>
                </div>
            </div>
        </div>
    </div>

</body>

@section viewJquery{
    <script>
        $(function () {
            $("#Login").click(function () {
                var uname = $("#loginId").val();
                var psw = $("#loginPsw").val();

                $.ajax({
                    type: "POST",
                    url: "/Login",
                    data: { uname, psw },
                    success: function (back) {
                        console.log('back', back);
                        if (back == "1") {
                            $("#loginStatus").html("sign in suceesfully");
			                location.href = "/Order"                        
			            }
                        else if (back == "2") {
                            $("#loginStatus").html("This account doesn't exist");
                        }
                        else {
                            $("#loginStatus").html("Your password is incorrect. Please try again.");
                        }
                    }
                });
            });

            $("#loginId").keydown(function (event) {
                if( event.which == 13 ) {
                    var uname = $("#loginId").val();
                    var psw = $("#loginPsw").val();
                    
                    $.ajax({
                        type: "POST",
                        url: "/Login",
                        data: { uname, psw },
                        success: function (back) {
                            console.log('back', back);
                            if (back == "1") {
                                $("#loginStatus").html("sign in suceesfully");
                                location.href = "/Order"  
                            }
                            else if (back == "2") {
                                $("#loginStatus").html("This account doesn't exist");
                            }
                            else {
                                $("#loginStatus").html("Your password is incorrect. Please try again.");
                            }
                        }
                    });
                }
            });

            $("#loginPsw").keydown(function (event) {
                if( event.which == 13 ) {
                    var uname = $("#loginId").val();
                    var psw = $("#loginPsw").val();
                    
                    $.ajax({
                        type: "POST",
                        url: "/Login",
                        data: { uname, psw },
                        success: function (back) {
                            console.log('back', back);
                            if (back == "1") {
                                $("#loginStatus").html("sign in suceesfully");
                                location.href = "/Order"  
                            }
                            else if (back == "2") {
                                $("#loginStatus").html("This account doesn't exist");
                            }
                            else {
                                $("#loginStatus").html("Your password is incorrect. Please try again.");
                            }
                        }
                    });
                }
            });
        });
    </script>
}

