
@{
    ViewBag.Title = "MemberPageOrder";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<style>
    nav.navBar--sub ul.navBar-section li.navBar-item.is-active a {
        background: #fff;
        position: relative;
        text-decoration: none !important;
    }



    nav.navBar--sub ul.navBar-section li.navBar-item a {
        font-size: 13px;
        font-weight: 700;
        display: block;
        display: table-cell;
        padding: 15px 30px 3px;
        transition: background .3s ease 0s;
        vertical-align: middle;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #e5e5e5;
        background: #f7f8f9;
        text-decoration: none !important;
        float: left;
        height: 51.6px;
    }

    .navBar-section {
        list-style-type: none;
    }


    .btn.btn-checkout, .btn.btn-checkout:hover {
        border-color: #000;
        background: #000;
    }

    .btn.btn-checkout {
        max-width: 270px;
        padding-top: 10px;
        color: #fff;
    }

    .form-input, .form-select {
        border-style: solid;
        border-width: 1px;
        font-family: inherit;
        margin: 0;
        font-size: 1rem;
        width: 100%;
        height: 42px;
        padding: 0px;
        transition: border-color .1s ease-out;
        background-color: #fff;
        border-color: #dcdcdc;
        color: #454545;
        max-width: none;
    }

    .page-heading {
        font-size: 24px;
    }

    .alert {
        padding: 10px 30px 1px 25px;
        margin-top: 40px;
        margin-bottom: 160px;
        border-radius: 1px;
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    ul {
        padding-left: 0px;
    }




    /*nav bar*/
    #container_page_nav {
        background-color: #f7f8f9;
        padding: 20px 0 15px 15px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .breadcrumb {
        background-color: #f7f8f9;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        display: inline-block;
        padding-right: 10px;
    }

        .breadcrumb-item::before {
            content: ">" !important;
            color: #b4b4b4 !important;
            margin: 0 12px 0 3px;
        }

        .breadcrumb-item:first-child::before {
            display: none;
        }

        .breadcrumb-item a {
            color: #b4b4b4;
        }

            .breadcrumb-item a:hover {
                color: #000;
                /*border-bottom: 1px solid #000;*/
            }

        .breadcrumb-item.active a:hover {
            color: #b4b4b4;
        }

    .order-header-item {
        font-weight: 700;
        min-height: 41px;
        padding: 20px 0 20px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000;
        border-bottom: 3px solid #000;
    }

    tr.order-item {
        height: 40px;
        border-bottom:1px solid #e8e8e8;
    }

    .order-item-block div{
        margin-top: 15px;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .order-item-block a {
        line-height: 1.5em;
        color: #000;
        cursor: pointer;
    }

    .actionBar {
        display: inline-block;
        clear: both;
    }

    .form-field {
        margin: 0;
        display: inline-block;
    }

    .form-select {
        display: inline-block;
        border: 1px solid #dedede;
        cursor: pointer;
        color: #454545;
        padding: 7px 15px 7px 9px;
        height: 38px;
        font-size:11px;
        width:150px;
    }

    .actionBar select option {
        padding: 5px 10px;
    }
</style>


<div id="container_page_nav">
    <div class="container">
        <!-- 要塞目錄資料及連結資料   開頭-->
        <!-- 動態綁定有a標籤href及text屬性 -->
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "FrontEnd")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("MemberPageOrder", "FrontEnd")">Member</a>
            </li>
            <li class="breadcrumb-item current">
                <a href="@Url.Action("MemberPageOrder", "FrontEnd")"> Order</a>
            </li>

        </ul>
        <!-- 要塞目錄資料及連結資料   結尾-->
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-heading" style="font-weight:600;">Orders</h1>

            <nav class="navBar navBar--sub navBar--account">
                <ul class="navBar-section">
                    <li class="navBar-item is-active">
                        <a class="navBar-action" href="/FrontEnd/MemberPageOrder">Orders</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action" href="/Cart">Cart</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action" href="/FrontEnd/MemberPageWishlist">Wish List </a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action" href="/FrontEnd/MemberPageSetting">Account Settings</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main class="account account--fixed">
        <div class="account-body">
            <section class="account-content">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <form class="actionBar">
                            <fieldset class="form-fieldset actionBar-section">
                                <div class="form-field row">
                                    <label class="form-label col-3" for="sort">Find:</label>
                                    <select class="form-select form-select--small col-9" name="sort" id="sort">
                                        <option value="" selected="selected">Within Three Days</option>
                                        <option value="">Within a Week</option>
                                        <option value="">Within a Month</option>
                                        <option value="">Within a Year</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <table class="w-100">
                    <thead>
                        <tr>
                            <th class="order-header-item">OrderDate</th>
                            <th class="order-header-item">TrackingNumber</th>
                            <th class="order-header-item">Total</th>
                            <th class="order-header-item">OrderDetail&Status</th>
                        </tr>
                    </thead>
                    <tbody class="order-list">
                        <tr class="order-item">
                            <td class="order-item-block">
                                <div>2019/11/30 14:30</div>
                            </td>
                            <td class="order-item-block">
                                <div>201911301430054321</div>
                            </td>
                            <td class="order-item-block">
                                <div>$289</div>
                            </td>
                            <td class="order-item-block">
                                <div><a href="/FrontEnd/MemberPageOrderDetail">Order Status</a></div>
                            </td>
                        </tr>
                        <tr class="order-item">
                            <td class="order-item-block">
                                <div>2019/11/30 14:30</div>
                            </td>
                            <td class="order-item-block">
                                <div>201911301430054321</div>
                            </td>
                            <td class="order-item-block">
                                <div>$289</div>
                            </td>
                            <td class="order-item-block">
                                <div><a href="/FrontEnd/MemberPageOrderDetail">Shipping Status</a></div>
                            </td>
                        </tr>
                        <tr class="order-item">
                            <td class="order-item-block">
                                <div>2019/11/30 14:30</div>
                            </td>
                            <td class="order-item-block">
                                <div>201911301430054321</div>
                            </td>
                            <td class="order-item-block">
                                <div>$289</div>
                            </td>
                            <td class="order-item-block">
                                <div><a href="/FrontEnd/MemberPageOrderDetail">Order Status</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert invisible">
                    <p class="alertBox-column alertBox-message">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>
                        <span style="padding: 15px 30px 3px ;font-weight:100;">You haven't placed any orders with us. When you do, their status will appear on this page.</span>
                    </p>
                </div>
            </section>
        </div>
    </main>
</div>

