
@{
    ViewBag.Title = "MemberPageSetting";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}



<style>
    nav.navBar--sub ul.navBar-section li.navBar-item.is-active a {
        background: #fff;
        position: relative;
        text-decoration: none !important;
    }



    nav.navBar--sub ul.navBar-section li.navBar-item a {
        font-size: 13px;
        font-weight: 700;
        display: block;
        display: table-cell;
        padding: 15px 30px 3px;
        transition: background .3s ease 0s;
        vertical-align: middle;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #000;
        border: 1px solid #e5e5e5;
        background: #f7f8f9;
        text-decoration: none !important;
        float: left;
        height: 51.6px;
    }

    .navBar-section {
        list-style-type: none;
    }


    .btn.btn-checkout, .btn.btn-checkout:hover {
        border-color: #000;
        background: #000;
    }

    .btn.btn-checkout {
        max-width: 270px;
        padding-top: 10px;
        color: #fff;
    }

    .form-input, .form-select {
        border-style: solid;
        border-width: 1px;
        font-family: inherit;
        margin: 0;
        font-size: 1rem;
        width: 100%;
        height: 42px;
        padding: 0px;
        transition: border-color .1s ease-out;
        background-color: #fff;
        border-color: #dcdcdc;
        color: #454545;
        max-width: none;
    }

    .page-heading {
        font-size: 24px;
    }

    .alert {
        padding: 10px 30px 1px 25px;
        margin-top: 40px;
        margin-bottom: 160px;
        border-radius: 1px;
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    .row {
        margin-top: 25px;
    }

    .btn {
        font-family: Poppins,Arial,Helvetica,sans-serif;
        font-size: 13px;
        font-weight: 600;
        height: 42px;
        letter-spacing: .1em;
        line-height: initial;
        padding: 9px 25px 8px;
        border-radius: 0;
        background: #fff;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-heading" style="font-weight:600;">Account Settings</h1>

            <nav class="navBar navBar--sub navBar--account">
                <ul class="navBar-section">
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Orders</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Returns</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Messages</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Addresses</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Wish List </a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Recently Viewed</a>
                    </li>
                    <li class="navBar-item is-active">
                        <a class="navBar-action">Account Settings</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <label>First Name</label>
                <input class="form-input">
            </div>
            <div class="col-6">
                <label>Last Name</label>
                <input class="form-input">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Company</label>
                <input class="form-input">
            </div>
            <div class="col-6">
                <label>Phone Number</label>
                <input class="form-input">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Email Address</label>
                <input class="form-input">
            </div>
            <div class="col-6">
                <label>Password</label>
                <input class="form-input">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Confirm Password</label>
                <input class="form-input">
            </div>
            <div class="col-6">
                <label>Current Password</label>
                <input class="form-input">
            </div>
        </div>

        <input type="submit" class="btn btn-outline-dark " style="margin-top:25px" value="Update Details">
    </div>
</div>
