@{
    ViewBag.Title = "Shipping & Handling";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

    <div class="container">
        <h3>Shipping & Handling</h3>

        <h5 class="my-5">All orders will be shipped out from Baltimore, MD. </h5>

        <strong><span style="text-decoration: underline;">-order fulfillment-</span></strong>
        <div class="mb-5 text-justify text-secondary">When you place an order on LOVODA,&nbsp;we&nbsp;promise to&nbsp;ship out your item(s) within 1 business day, Monday through Friday. This means that within one business day of your online purchase, you can be assured that your package is handed over to the&nbsp;United States Postal Service (USPS) for prompt delivery.&nbsp;All orders include a USPS tracking number&nbsp;so that you can go online and see where your package is en route.&nbsp;</div>

        <strong><span style="text-decoration: underline;">-shipping within the U.S.-</span></strong>
        <div class="mb-5 text-justify text-secondary">We offer a flat rate shipping fee of $3.00 on all orders placed in the United States (all 50 states); Washington, D.C.; Puerto Rico; U.S. P.O. Boxes; U.S. territories; and APO/FPO/DPO addresses. All orders will be shipped through the USPS. While the exact date of delivery will vary based on your location, the estimated shipping time is 2 to 7 business days.</div>

        <strong><span style="text-decoration: underline;">-shipping to Canada-</span></strong>
        <div class="mb-5 text-justify text-secondary">We also offer a flat rate shipping fee of $6.75 on all orders placed in Canada. The estimated shipping time is from 2 weeks to 4 weeks. Please keep in mind that customs delays are common when shipping to Canada. All shipments made to Canada must be shipped to a physical address. We are not able to ship to Canada P.O. boxes at this time. If your package is refused, or unclaimed, you will be responsible for the original shipping and return costs. This also may include any duties, taxes, and customs charges. This total amount will be deducted from your merchandise return.</div>

        @*<strong><span style="text-decoration: underline;"></span></strong>
        <div></div>*@
    </div>
    