
@{
    ViewBag.Title = "ShowProducts";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<style>
    body {
        letter-spacing: 0.02em;
    }

    a,
    a:hover,
    img,
    img:hover {
        text-decoration: none
    }

        a:active,
        a:focus,
        img:active,
        img:focus {
            text-decoration: none
        }

    ul {
        list-style: none;
        margin: 0;
    }

    a:hover {
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    .show-all {
        margin: 0;
        padding: 0;
    }

    /* ---------------------- */
    #container_page_nav {
        background-color: #f7f8f9;
        padding: 20px 0 15px 15px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .breadcrumb {
        background-color: #f7f8f9;
        padding: 0;
        margin: 0;
    }

    .breadcrumb-item {
        display: inline-block;
        padding-right: 10px;
    }

        .breadcrumb-item::before {
            content: ">" !important;
            color: #b4b4b4 !important;
            margin: 0 12px 0 3px;
        }

        .breadcrumb-item:first-child::before {
            display: none;
        }

        .breadcrumb-item a {
            color: #b4b4b4;
        }

            .breadcrumb-item a:hover {
                color: #000;
                border-bottom: 1px solid #000;
            }

        .breadcrumb-item.active a:hover {
            color: #b4b4b4;
        }

    /* ---------------------- */
    .container_page {
        margin: 0;
    }

    /* ---------------------- */
    .container_page_body {
        padding: 0 15px;
    }

    .sidebarBlock {
        margin-bottom: 17px;
    }

    .side-module-heading {
        font-weight: 800;
        padding: 22px 0;
        margin-bottom: 0;
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
    }

    .navList-item {
        padding: 0 0 22px 0;
    }

        .sidebarBlock a,
        .navList-item p {
            color: #000;
            transition: all .3s ease 0s;
        }

    .navList-action {
        padding: 0;
        display: inline;
        font-weight: 600;
    }

        .navList-action:hover {
            border-bottom: 1px dotted #000;
        }

    .side-module-heading + ul {
        padding: 0;
    }

        .side-module-heading + ul li:not(.navList-item) {
            padding: 0 0 10px 0;
        }

            .side-module-heading + ul li:not(.navList-item) a:hover {
                border-bottom: 1px solid #000;
            }

    /* ---------------------- */

    .category-heading .page-heading {
        display: inline-block;
        padding: 2px 0 20px;
        margin-bottom: 3px;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        text-transform: capitalize;
    }

    .view-mode-btn {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 150px;
    }

        .view-mode-btn a.current-view {
            cursor: default;
        }

        .view-mode-btn label {
            width: 65px;
            font-weight: 600;
            white-space: nowrap;
            letter-spacing: .05em;
            padding-right: 12px;
            margin: 0;
        }

    .btn-group {
        display: flex;
    }

    .view-mode-btn a,
    .view-mode-btn a:active,
    .view-mode-btn a:focus,
    .view-mode-btn a:hover {
        font-size: 11px;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-left: 0;
        text-decoration: none;
        padding: 5px;
        border: 1px solid #e5e5e5;
    }

        .view-mode-btn a > div {
            width: 30px;
        }

        .view-mode-btn a#grid-view {
            margin-right: -1px;
        }

            .view-mode-btn a#grid-view .icon-bar {
                width: 4px;
            }

                .view-mode-btn a#grid-view .icon-bar:after,
                .view-mode-btn a#grid-view .icon-bar:before {
                    position: absolute;
                    display: block;
                    width: 4px;
                    height: 4px;
                    content: '';
                    transition: all .15s ease;
                }

                .view-mode-btn a#grid-view .icon-bar:before {
                    left: -5px;
                }

                .view-mode-btn a#grid-view .icon-bar:after {
                    right: -5px;
                }

    a#grid-view.current-view .icon-bar:after,
    a#grid-view.current-view .icon-bar:before,
    a#grid-view.current-view .icon-bar {
        background: #232323;
    }

    .view-mode-btn a .icon-bar {
        filter: alpha(opacity=100);
        opacity: 1;
        position: relative;
        top: -1px;
        width: 14px;
        height: 4px;
        margin: 1px auto 0;
        transition: all .15s ease;
        background: #e5e5e5;
    }

    .actionBar {
        text-align: right;
        margin-left: 40px;
        display: inline-block;
        clear: both;
    }

    .form-field {
        margin: 0;
        display: inline-block;
    }

    .form-select {
        display: inline-block;
        max-width: 180px;
        border: 1px solid #dedede;
        cursor: pointer;
        color: #454545;
        padding: 7px 15px 7px 9px;
        min-width: 90px;
        height: 38px;
    }

    .actionBar select option {
        padding: 5px 10px;
    }

    .form-label {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .05em;
        position: relative;
        padding-right: 12px;
        margin: 0;
    }

    .product-pagination {
        margin-bottom: 25px;
        justify-content: center;
        text-align: right;
        font-weight: 600;
    }

    .module-wrapper {
        margin: 0 0 20px;
    }

    .productBlockContainer {
        margin: 0 -15px;
        display: flex;
        /*flex-wrap:wrap;*/
    }

    .prod-item {
        margin-bottom: 27px;
        width: 33.33%;
        float: left;
    }

    /*:not(.productList).module-wrapper .prod-item{
            width: 33.33%;
        }*/

    /*.module-wrapper .productBlockContainer.columns-3 .prod-item{
            position:relative;
            height:100%;
            padding:0 15px;
            display:flex;
            align-content:stretch;
            align-items:stretch;
        }*/

    /*:not(.productList).module-wrapper .prod-item .card-figure {
            height:auto;
            background:0 0
        }*/

    .card-figure {
        padding: 0;
        position: relative;
        margin-top: 0;
    }

    .prod-item .prod-image {
        position: relative;
        margin-bottom: 21px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .prod-item .prod-image > a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100%;
        }

    img {
        width: 270px;
        height: 405px;
        max-width: 100%;
    }

    .prod-item .prod-image > a img.lazyloaded {
        width: 100% !important;
    }

    .card-image {
        border: 0;
        display: inline-block;
    }

    .actions > .btnQV, .actions > a.btnWL, .actions > a.btnATC {
        visibility: hidden;
        transition: all 0.3s ease 0s;
        position: absolute;
    }

    .actions > a.btnWL {
        top: -20px;
        right: 13px;
        display: inline-block;
        width: 30px;
        padding: 5px;
        font-size: 16px;
        text-align: center;
    }

    .btnWL {
        font-weight: 400;
        color: #000;
    }

        .btnWL:hover {
            cursor: pointer;
            color: #000;
            border-bottom: 1px dotted #000;
        }


    .actions > a.btnATC {
        width: 100%;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 700;
    }

    .actions > .btnQV {
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 106px;
        height: 33px;
        margin: 0 auto;
        color: #000;
        border: 2px solid #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins,Arial,Helvetica,sans-serif;
        font-weight: 700;
    }

        .actions > .btnQV:hover {
            border: 1px solid #000;
        }

    .productBlockContainer.row:after {
        content: "";
        display: table;
        clear: both;
    }

    .prod-name a {
        font-weight: 400;
        color: #000;
    }

        .prod-name a:hover {
            color: #000;
        }

    .prod-summary {
        font-weight: 400;
        line-height: 1.5rem;
    }

    .hoverin {
        visibility:visible !important;
    }

    .showdown {
        top: 20px !important;
    }
</style>

<script>
</script>

<div class="show-all">
    <div class="container_page">
        <div id="container_page_nav">
            <div class="container">
                <!-- 要塞目錄資料及連結資料   開頭-->
                <!-- 動態綁定有a標籤href及text屬性 -->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Necklaces</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Y-Necklace &amp; Lariat</a>
                    </li>
                </ul>
                <!-- 要塞目錄資料及連結資料   結尾-->
            </div>
        </div>
        <div class="container">
            <div class="container_page_body row">
                <div class="page_sidebar col-sm-3" id="faceted-search-container">
                    <!-- <div id="sidebar-toggle">
                    <a class="btn btn-alt" href="#">SHOWSIDEBAR<i class="fa fa-plus"></i></a>
                    </div> -->
                    <nav>
                        <div class="sidebarBlock" id="sidebar-wrapper">
                            <h6 class="side-module-heading"><span>Categories</span></h6>
                            <ul class="navList">
                                <li class="navList-item">
                                    <a class="navList-action" href="https://lovoda.com/crawlers-and-pins/"
                                       alt="Crawlers and Pins" title="Crawlers and Pins">Crawlers and Pins</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action" href="https://lovoda.com/threader-earrings/"
                                       alt="Threader Earrings" title="Threader Earrings">Threader Earrings</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action" href="https://lovoda.com/earring-sets/"
                                       alt="Earring Sets" title="Earring Sets">Earring Sets</a>
                                </li>
                                <li class="navList-item">
                                    <a class="navList-action" href="https://lovoda.com/cuffs/" alt="Cuffs"
                                       title="Cuffs">Cuffs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebarBlock" id="sideShopByPrice">
                            <h6 class="side-module-heading"><span>Shop by Price</span></h6>
                            <ul>
                                <li>
                                    <a class=""
                                       href="https://lovoda.com/y-necklace-lariat/?price_min=0&amp;price_max=19&amp;sort=newest"
                                       alt="$0.00 - $19.00" title="$0.00 - $19.00">$0.00 - $19.00</a>
                                </li>
                                <li>
                                    <a class=""
                                       href="https://lovoda.com/y-necklace-lariat/?price_min=19&amp;price_max=23&amp;sort=newest"
                                       alt="$19.00 - $23.00" title="$19.00 - $23.00">$19.00 - $23.00</a>
                                </li>
                                <li>
                                    <a class=""
                                       href="https://lovoda.com/y-necklace-lariat/?price_min=23&amp;price_max=27&amp;sort=newest"
                                       alt="$23.00 - $27.00" title="$23.00 - $27.00">$23.00 - $27.00</a>
                                </li>
                                <li>
                                    <a class=""
                                       href="https://lovoda.com/y-necklace-lariat/?price_min=27&amp;price_max=31&amp;sort=newest"
                                       alt="$27.00 - $31.00" title="$27.00 - $31.00">$27.00 - $31.00</a>
                                </li>
                                <li>
                                    <a class=""
                                       href="https://lovoda.com/y-necklace-lariat/?price_min=31&amp;price_max=35&amp;sort=newest"
                                       alt="$31.00 - $35.00" title="$31.00 - $35.00">$31.00 - $35.00</a>
                                </li>

                            </ul>
                        </div>


                        <!-- BEGIN Side Custom CMS Block -->
                        <!-- <div id="sideCustomCMS" class="sidebarBlock">
                            <h6 class="side-module-heading"><span></span></h6>
                            <div class="side-cms-content">
                                <p></p>
                                <p></p>
                            </div>
                        </div> -->
                        <!-- END Side Custom CMS Block -->
                    </nav>
                </div>
                <main class="page-content col-sm-9">
                    <div class="category-heading">
                        <h1 class="page-heading">Y-Necklace &amp; Lariat</h1>
                    </div>

                    <div id="product-listing-container" class="showMoreCat">
                        <!-- snippet location categories -->
                        <div class="product-pagination top">
                            <div class="view-mode-btn">
                                <label class="view-as">VIEW AS</label>
                                <div class="btn-group">
                                    <a href="javascript:void(0);" id="grid-view" title="Grid View"
                                       class="current-view">
                                        <div>
                                            <div class="icon-bar"></div>
                                            <div class="icon-bar"></div>
                                            <div class="icon-bar"></div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0);" id="list-view" title="List View" class="">
                                        <div>
                                            <div class="icon-bar"></div>
                                            <div class="icon-bar"></div>
                                            <div class="icon-bar"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <form class="actionBar" method="get" data-sort-by="">
                                <fieldset class="form-fieldset actionBar-section">
                                    <div class="form-field">
                                        <label class="form-label" for="sort">Sort By:</label>
                                        <select class="form-select form-select--small" name="sort" id="sort">
                                            <option value="featured">Featured Items</option>
                                            <option value="newest" selected="">Newest Items</option>
                                            <option value="bestselling">Best Selling</option>
                                            <option value="alphaasc">A to Z</option>
                                            <option value="alphadesc">Z to A</option>
                                            <option value="avgcustomerreview">By Review</option>
                                            <option value="priceasc">Price: Ascending</option>
                                            <option value="pricedesc">Price: Descending</option>
                                        </select>
                                    </div>
                                </fieldset>

                            </form>
                        </div>

                        <form action="/compare" method="POST">
                            <div class="module-wrapper">
                                <div class="productBlockContainer row">
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <a href="#" class="btnWL">
                                                    <i class="far fa-heart-o"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <!--<a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>Add to Wish list</span>
                                                    </a>-->
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <!--<a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>Add to Wish list</span>
                                                    </a>-->
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <!--<a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>Add to Wish list</span>
                                                    </a>-->
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <!--<a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>Add to Wish list</span>
                                                                                                    </a>-->
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="prod-item col-4">
                                        <figure class="card-figure">
                                            <div class="prod-image">
                                                <a href="#">
                                                    <img class="card-image"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2">
                                                </a>
                                                <div class="actions">
                                                    <!--<a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>Add to Wish list</span>
                                                    </a>-->
                                                    <a href="#" class="btn btn-outline-dark rounded-0 btnATC"><i class="fa fa-heart-o"></i>Add to Cart</a>
                                                    <a href="#" class="btnQV quickview">Quick view</a>
                                                </div>
                                            </div>
                                            <figcaption class="prod-desc">
                                                <p class="prod-name text-center"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price text-center"><span class="price">$24.00</span></div>
                                                <!--<div class="prod-summary">
                                                    <p>
                                                        Shine bright and sparkle big with this gold chain
                                                        Y-Necklace with crystal circle stones all throughout.
                                                        &amp;bull; 14K Gold over Stainless Steel
                                                        Measurements: &amp;bull; Length: 17.5 in. / 44.5 cm.
                                                        &amp;bull; Extension: 2.5 in. / 6.4 cm. &amp;bull; Front
                                                        Drop: 6 in. /...
                                                    </p>
                                                </div>
                                                <span class="stamped-product-reviews-badge" data-id="5597"
                                                    style="display:block;">
                                                <span class="stamped-badge"
                                                        data-rating="0.0" data-lang="">
                                                    <span class="stamped-starrating stamped-badge-starrating">
                                                        <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                    </span>
                                                    <span class="stamped-badge-caption" data-reviews="0"
                                                            data-rating="0.0" aria-label="0 reviews"
                                                            data-version="2">
                                                    </span>
                                                </span>
                                                </span>
                                                <a href="#"
                                                   class="btn btn-outline-dark btnATC hidden-lg">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                </a>-->
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <!------------------------------------------------------->
                                    <div class="prod-item col-12 d-inline-block">
                                        <figure class="card-figure row">
                                            <div class="prod-image col-3">
                                                <a href="#">
                                                    <img class="card-image lazyautosizes lazyloaded w-75 h-auto"
                                                         src="https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/3886/16795/020400062_1_of_5__78100.1512405194.jpg?c=2">
                                                </a>
                                                <!--<div class="actions">
                                                    <a href="#" class="btnWL">
                                                        <i class="fa fa-heart-o"></i><span>Add to Wish list</span>
                                                    </a>
                                                    <a href="#" class="btn btn-outline-dark btnATC hidden-xs hidden-sm hidden-md">Add to Cart</a>
                                                    <a href="#" class="btnQV quickview" data-product-id="3886">Quick view</a>
                                                </div>-->
                                            </div>
                                            <figcaption class="prod-desc col-9 mt-2">
                                                <p class="prod-name"><a href="#">Shine Bright Y-Necklace (14K)</a></p>
                                                <div class="prod-price"><span class="price">$24.00</span></div>
                                                <div class="prod-summary">
                                                    <p>
                                                        Minimalist bar and chain pull through lariat necklace.
                                                        One of those simple, jewelry pieces you need to keep
                                                        around.&amp;nbsp;
                                                        &amp;bull; No clasp pull through necklace&amp;bull; Pull
                                                        through adjustable length&amp;bull; Gold brass
                                                        Measurements:&amp;bull; Length: 31 in. /...
                                                    </p>
                                                </div>
                                                <!--<span class="stamped-product-reviews-badge" data-id="3886"
                                                      style="display:block;">
                                                    <span class="stamped-badge"
                                                          data-rating="0.0" data-lang="">
                                                        <span class="stamped-starrating stamped-badge-starrating">
                                                            <i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i><i class="stamped-fa stamped-fa-star-o"></i>
                                                        </span>
                                                        <span class="stamped-badge-caption" data-reviews="0"
                                                              data-rating="0.0" aria-label="0 reviews"
                                                              data-version="2">
                                                        </span>
                                                    </span>
                                                </span>-->
                                                <a href="#" class="btn btn-outline-dark btnATC rounded-0">Add to Cart</a>
                                                <a href="#" class="btnWL">
                                                    <!--<i class="far fa-heart-o"></i>--><span>Add to Wish list</span>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </form>

                        <div class="product-pagination bottom" data-total_products="44">
                            <div class="pagination">
                                <ul class="pagination-list">
                                    <li class="pagination-item pagination-item--current">
                                        <a class="pagination-link" href="/y-necklace-lariat/?sort=newest&amp;page=1"
                                           data-faceted-search-facet="">1</a>
                                    </li>
                                    <li class="pagination-item">
                                        <a class="pagination-link" href="/y-necklace-lariat/?sort=newest&amp;page=2"
                                           data-faceted-search-facet="">2</a>
                                    </li>
                                    <li class="pagination-item">
                                        <a class="pagination-link" href="/y-necklace-lariat/?sort=newest&amp;page=3"
                                           data-faceted-search-facet="">3</a>
                                    </li>

                                    <li class="pagination-item pagination-item--next">
                                        <a class="pagination-link"
                                           href="https://lovoda.com/y-necklace-lariat/?sort=newest&amp;page=2"
                                           data-faceted-search-facet="">
                                            <span>Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>

    </div>
</div>

@section viewJquery{
    <script>
        $(function () {

            $(".card-figure").hover(function () {
                $(this).find(".btnWL").addClass("hoverin");
                $(this).find(".btnWL").addClass("showdown")
                $(this).find(".btnQV").addClass("hoverin");
                $(this).find(".btnATC").addClass("hoverin");
            }, function () {
                    $(this).find(".btnWL").removeClass("hoverin");
                    $(this).find(".btnWL").removeClass("showdown")
                    $(this).find(".btnQV").removeClass("hoverin");
                    $(this).find(".btnATC").removeClass("hoverin");
            });

            $("card-image").hover(function () {
                $(this).attr("src", "https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2")
            }, function () {
                $(this).attr("src", "https://cdn11.bigcommerce.com/s-8pcbviyy/images/stencil/600x900/products/5597/24310/020400079-1__89005.1562615110.jpg?c=2")
            });
        });


            //function getElement(myclass) {
            //    var item = document.getElementsByClassName("'." + myclass + "'");
            //    console.log(item);
            //    return item;
            //}

            //function mouseIn() {
            //    document.getElementsByClassName(".btnWL").style.visibility = "visible";
            //    getElement(btnQV).style.visibility = "visible";
            //    getElement(btnATC).style.visibility = "visible";
            //}
            //function mouseOut() {
            //    getElement(btnWL).style.visibility = "hidden";
            //    getElement(btnQV).style.visibility = "hidden";
            //    getElement(btnATC).style.visibility = "hidden";
            //}

            //$(".card-figure").hover(function () {
            //    $(".btnWL").addClass("hoverin");
            //}, function () {
            //    $("..btnWL").removeClass("hoverin");
            //});


    </script>
}


}


